<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masel.almightyvolumekeys">

    <permission android:name="com.masel.thesoundrecorder2.permission.ACCESS_AUDIO_RECORDING_SETTINGS"/>
    <permission android:name="com.masel.almightyvolumekeys.permission.ACCESS_MONITOR_SERVICE_STATUS"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.masel.thesoundrecorder2.permission.ACCESS_AUDIO_RECORDING_SETTINGS" />
    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/avk_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/avk_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SupportActivity"
            android:label="Help"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MonitorService"
            android:label="Capture volume key presses"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="com.masel.almightyvolumekeys.StatusContentProvider"
            android:authorities="com.masel.almightyvolumekeys.StatusContentProvider"
            android:permission="com.masel.almightyvolumekeys.permission.ACCESS_MONITOR_SERVICE_STATUS"
            android:exported="true" />

    </application>

</manifest>